@media  (min-width: 767px) and (max-width: 1024px) {

    /***********************  Section Global  ****************************/
    .section__child {
        width: 100%;
    }

    /***********************  Section-Top  ****************************/
    .section__topChildCenter {
        top: 250px;
        padding-left: 20px;
    }

    header {
        padding: 0 20px;
    }

    .header__navItem {
        padding: 10px;
    }

    /***********************  Section-OurTeam  ****************************/
    .team__card{
        width: 250px;
    }

    /***********************  Section-Download  ****************************/
    .section__download .section__child {
        padding: 0 20px;
    }

    /***********************  Section-Footer  ****************************/
    .section__footer .section__child {
        padding: 0 20px;
    }
}



@media screen and (max-width: 767px){
    /***********************  Burger  ****************************/
    .mobileMenu{
        display: block;
    }
    .header__navItemButton{
        margin:0 auto;
    }
    /***********************  Section Global  ****************************/
    .section__global{
        padding: 0 15px;
    }
    .section__child{
        width: 100%;
    }
    .p__descText{
        word-break: break-all;
    }
    /***********************  Section-Top  ****************************/
    .section__topChildCenter{
        top: 250px;
        text-align: center;
        width: 100%;
    }
    .section__topChildCenter > h1{
        font-size: 33px;
    }
    .header__nav{
        display: none;
    }
    /***********************  Section-Features  ****************************/
    .section__childTitle{
        margin-top: 30px;
    }
    .section__childTitle > p{
        width: 100%;
    }
    .feature__cardMain{
        flex-direction: column;
    }
    .feature__card{
        margin-bottom: 20px;
    }

    /***********************  Section-OurTeam  ****************************/
    .section__ourTeam .section__child{
        padding-bottom: 60px;
    }
    .team__cardMain{
        flex-direction: column;
    }
    .team__card{
        margin-bottom: 30px;
    }
    /***********************  Section-Download  ****************************/
    .section__download .section__child{
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
    }
    .download__left{
        width: 100%;
    }
    .download__left .h3__subTitle{
        font-size: 16px;
        font-weight: bold;
    }
    /***********************  Section-Footer  ****************************/
    .footer__top{
        flex-direction: column;
    }
    .section__footerItem,.section__footerItem:first-child,.section__footerItem:last-child{
        width: 100%;
        text-align: center;
    }
    .section__footerItem .h3__subTitle{
        justify-content: center;
    }
    .inp__email{
        width: 90%;
    }
    .footer__bottom{
        flex-direction: column-reverse;
    }
}