@import "global.css";

/***********************  Section Global  ****************************/
.section__global{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.section__childTitle{
    margin-bottom: 90px;
}
.section__childTitle > h2{
    color: #0f5f5c;
    font-size: 32px;
}
.section__childTitle > p{
    font-size: 15px;
    width: 700px;
    margin: 0 auto;
    word-break: break-all;
    margin-top: 35px;
}



/***********************  Burger  ****************************/
.mobileMenu{
    display: none;
}
.header__navMobile{
    visibility: hidden;
    width: 100%;
    height: 0%;
    position: absolute;
    right: 0;
    background-color: black;
    text-align: center;
    background: url('../images/Rectangle 1.png') no-repeat;
    z-index: 900;
    background-size: cover;
    transition: 1s all ease;
    overflow: hidden;
}
.header__navMobileActive{
    visibility: visible;
    height: 250px;
}
.burger {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/***********************  Section-Top  ****************************/
.section__top{
    background: url('../images/Layer 29.png') no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: 1;

}
.section__child{
    width: 1055px;
    min-height: 660px;
    z-index: 4;
    position: relative;
}

.section__top:before, .section__top:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.section__top:before{
    background: url('../images/Rectangle 1.png') no-repeat;
    z-index: 2;
    background-size: cover;
}
.section__top:after{
    background: url('../images/Layer 4.png') no-repeat;
    z-index: 3;
    background-size: cover;
}
/*.header__greenLayer,.header__topBlackLayer{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/

/*}*/
/*.header__greenLayer{*/
/*    background: url('../images/Rectangle 1.png') no-repeat;*/
/*    background-size: cover;*/
/*    z-index: 2;*/
/*}*/
/*.header__topBlackLayer{*/
/*    background: url('../images/Layer 4.png') no-repeat;*/
/*    background-size: cover;*/
/*    background-position-y: -180px;*/
/*    z-index: 3;*/
/*}*/
.section__topChildCenter{
    width: 100%;
    position: absolute;
    top: 295px;
    left: -80%;
    transition: 0.7s all ease;
    opacity: 0;
    text-align: center;


}
.fadeSectionTop{
    left: 0%;
    opacity: 1;
}
.section__topChildCenter > h1{
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 30px;
}
.section__topChildCenter > button{
    padding: 15px 45px;
    background-color:#6fb048;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.section__topChildCenter > button:after{
    content: '';
    position: absolute;
    top: 0;;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #bec8c8;
    border-radius: 5px;
    z-index: -1;
    transition:0.5s all ease;

}
.section__topChildCenter > button:hover:after{
    width: 100%;
}

/***********************  Header Styles  ****************************/
header{
    display: flex;
    justify-content: center;
    z-index: 999;
    border-bottom: 1px solid #6b8585;
}
header > div{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.header__textStyle{
    color:#bec8c8;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logoName > a {
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
}
.header__logoPhone{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #6b8585;
    display: flex;
}
.header__logoPhone > i {
    color: #bec8c8;
    width: 16px;
    height: 16px;
    text-align: center;
}
.header__logoPhone > a{
    color:#fff;
    padding-left: 5px;
}

.header__nav > ul{
    display: flex;
    align-items: center;
}

.header__navItem{
    display: block;
    padding:15px;
    transition: 0.3s all ease;
}
.header__navItem:hover{
    color:#6fb048;
    transform: scale(1.1);
}
.header__navItemActive{
    color:#6fb048;
}
.header__navItemButton{
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    background-color: #bec8c8;
    border-radius: 5px;

}


/***********************  Section-Features  ****************************/
.section__features .section__child{
    padding-top: 80px;
    padding-bottom: 130px;
    text-align: center;
    min-height: auto;
}
.feature__cardMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.feature__cardMain > div{
    position: relative;
    z-index: 1;
    width: 300px;
    height: 200px;

}
.feature__card{
    /* visibility: hidden; */
    width: 300px;
    transition: 1s all ease;
    position: absolute;
    left: -100%;
    opacity: 0;
}
.fadeFeatures{
    /* visibility: visible; */
    left: 0%;
    opacity: 1;
}
.feature__card .h3__subTitle{
    font-weight: bold;
}
/***********************  Section-OurTeam  ****************************/
.section__ourTeam{
    background-color: #edf1eb;
}
.section__ourTeam .section__child{
    padding-top: 70px;
    padding-bottom: 115px;
    text-align: center;
    min-height: auto;
}
.team__cardMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.team__card{
    width: 300px;
    text-align: left;
}
.team__card .h3__subTitle{
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}
.team__card .p__descText{
    margin-top: 5px;
    font-weight: bold;
}
/***********************  Section-Download  ****************************/
.section__download{
    background: url("../images/Rectangle 4.png") no-repeat 50%;
    background-size: cover;
    z-index: 1;
}
.section__download::after{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/Layer 11.png") no-repeat 50%;
    background-size: cover;
    z-index: 2;
}
.section__download .section__child{
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.download__left{
    width: 600px;
}
.download__left .h3__subTitle{
    font-size: 28px;
    margin-top:0;
    color: #ffffff;
}
.download__left .p__descText{
    font-size: 15px;
    margin-top: 0;
    color: #ffffff;
}
.download__btn{
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor:pointer;
    background-color:  #49732f;
    position: relative;
    z-index: 1;
}
.download__btn:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #bec8c8;
    opacity: 0;
    transition: 0.3s all ease;
    z-index: -1;
    border-radius: 5px;
}
.download__btn:hover:before{
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

