@media  (min-width: 767px) and (max-width: 1024px) {
    /***********************  Section Global  ****************************/
    .section__child {
        width: 100%;
    }
    /***********************  Section-Top  ****************************/
    header{
        padding: 0 20px;
    }
    .header__navItem{
        padding:10px;
    }
    /***********************  Section-Pricing & Plan  ****************************/
    .plan__list{
        flex-direction: column;

    }
    .plan__list > ul{
        margin-bottom: 15px;
    }
    /***********************  Section-Help  ****************************/

    /***********************  Section-Download  ****************************/
    .section__download .section__child{
        padding:0 20px;
    }
    /***********************  Section-Footer  ****************************/
    .section__footer .section__child{
        padding:0 20px;
    }
}
@media screen and (max-width: 767px) {
    /***********************  Section Global  ****************************/
    .section__global {
        padding: 0 15px;
    }

    .section__child {
        width: 100%;
    }

    .p__descText {
        word-break: break-all;
    }
    /***********************  Section-Top  ****************************/
    .header__logo{
        width: 100%;
        justify-content: space-between;
    }
    .header__logoPhone{
        margin-left: 0;
        padding-left: 0;
        border:none;
    }
    nav{
        display: none;
    }
    .top__title .h3__subTitle{
        font-size: 22px;
    }
    .top__title .p__descText{
        text-align: center;
    }
    /***********************  Section-Pricing & Plan  ****************************/
    .price__cards{
        flex-direction: column;
    }
    .price__card{
        border-right: 1px solid #c1d3d1;
        margin-bottom: 10px;
    }
    .plan__list{
        flex-direction: column;
        align-items: normal;
    }
    .plan__list > ul{
        margin-bottom: 15px;
    }
    .plan__list > ul > li{
        width: 100%;
    }
    /***********************  Section-Help  ****************************/

    /***********************  Section-Download  ****************************/
    .section__download .section__child{
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
    }
    .download__left{
        width: 100%;
    }
    .download__left .h3__subTitle{
        font-size: 16px;
        font-weight: bold;
    }
    /***********************  Section-Footer  ****************************/
    .footer__top{
        flex-direction: column;
    }
    .section__footerItem,.section__footerItem:first-child,.section__footerItem:last-child{
        width: 100%;
        text-align: center;
    }
    .section__footerItem .h3__subTitle{
        justify-content: center;
    }
    .inp__email{
        width: 90%;
    }
    .footer__bottom{
        flex-direction: column-reverse;
    }
}
